/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнул¤ем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устран¤ем отступы между ¤чейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию дл¤ элементов форм (в частности дл¤ checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}

	padding: 0; 				/* убираем внутренние отступы дл¤ текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #000;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
}
a, a:visited { /* пор¤док правил дл¤ ссылок имеет значение */
	color: #e6618c;
	text-decoration: underline;
}
a:hover {
	color: #fdf208;
	text-decoration:none;
}
a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/
header{
	text-align: center;
}
.logo{
	text-align: left;
	font-family: 'Inconsolata', monospace;
	font-size: 30pt;
	letter-spacing:10px;
	text-transform:uppercase;
	padding-left: 150px;
	padding-top: 50px;
	padding-bottom: 30px;
}
ul{
	margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu li{
    display: inline-block;
}
.main-menu a{
    text-decoration:none;
    display:block;
	font-family: 'Playfair Display', serif;
	font-size: 1em;
	text-transform:uppercase;
	padding-left: 120px;	
	color: #000;
}
a:hover {
    color: #878484;  
   }
.main{
	margin:0px auto;
	width: 1000px;

}
article>h3{
	font-family: 'Ubuntu', sans-serif;
	font-variant:small-caps;
	font-size: 14pt;
	text-align: left;
	padding-bottom:5px;
}
article>h2{
	text-align: left;
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	padding-top:5px;
	padding-bottom:5px;
}
article>p{
	font-family: 'Playfair Display', serif;
	font-size:0.75em;
	font-weight:regular;
	line-height: 18px;
}
a{
	font-family: 'Ubuntu', sans-serif;
	font-variant:small-caps;
	font-size: 14pt;
	text-decoration:none;
	color: #000;
}
.left, .right{
	max-width:420px;
	margin: 0 auto;
	min-height:700px;
}
.one{
	margin-left: 450px;
	margin-top: 50px;
    padding:0;
    float:left;
	min-height:700px;
}
.two{
	float:right;
	margin-right:450px;
	margin-top: 50px;
	min-height:700px;
}
.three{
    margin-left:450px;
	margin-top: 50px;
    padding:0;
    float:left;
}
.four{
	float:right;
	margin-right:450px;
	margin-top: 50px;
	min-height:700px;
}
footer{
	display:block;
	text-align: center;
	background-image:url("img/minimo5.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	padding:80px 20px 60px 20px;
	clear:both;
	margin-top: 30px;
}
footer>h2{
	font-size: 30px;
	font-family: 'Playfair Display', serif;
	text-align: center;
}
footer>a{
	font-size: 23px;
	font-family: 'Playfair Display', serif;
	text-align: center;
}
@media screen and (max-width:1450px){
.left, .right {max-width:400px;
	margin: 0 auto;
	min-height:700px;}
.one{
	margin-left: 200px;
	margin-top: 30px;
    padding:0;
    float:left;
	min-height:700px;
}
.two{
	float:right;
	margin-right:200px;
	margin-top: 30px;
	min-height:700px;
}
.three{
    margin-left:200px;
	margin-top: 30px;
    padding:0;
    float:left;
}
.four{
	float:right;
	margin-right:200px;
	margin-top: 30px;
	min-height:700px;
}
.logo{padding-left: 250px;
padding-bottom:30px;
padding-top:30px;}}
@media screen and (max-width:1350px){
.left, .right {max-width:400px;
	margin: 0 auto;
	min-height:700px;}
.one{
	margin-left: 200px;
	margin-top: 30px;
    padding:0;
    float:left;
	min-height:700px;
}
.two{
	float:right;
	margin-right:200px;
	margin-top: 30px;
	min-height:700px;
}
.three{
    margin-left:200px;
	margin-top: 30px;
    padding:0;
    float:left;
}
.four{
	float:right;
	margin-right:200px;
	margin-top: 30px;
	min-height:700px;
}
.logo{padding-left: 250px;
padding-bottom:30px;
padding-top:30px;}}
@media screen and (max-width:1210px){
	.main{
	margin:10px 10px;
	width: auto;
}
	.one{
	margin-left: 100px;
	margin-top: 30px;
    padding:0;
    float:left;
	min-height:700px;
}
.two{
	float:right;
	margin-right:100px;
	margin-top: 30px;
	min-height:700px;
}
.three{
    margin-left:100px;
	margin-top: 30px;
    padding:0;
    float:left;
}
.four{
	float:right;
	margin-right:100px;
	margin-top: 30px;
	min-height:700px;
}
}
@media screen and (max-width:1000px){
	p{
		font-size:2em;
}
	.one{
	margin-left: 50px;
	margin-top: 30px;
    padding:0;
    float:left;
	min-height:700px;
}
.two{
	float:right;
	margin-right:50px;
	margin-top: 30px;
	min-height:700px;
}
.three{
    margin-left:50px;
	margin-top: 30px;
    padding:0;
    float:left;
}
.four{
	float:right;
	margin-right:50px;
	margin-top: 30px;
	min-height:700px;
}	
}
@media screen and (max-width:600px){
	.one{
	width:400px;
	margin-left: 50px;
	margin-top: 30px;
    padding:0;
 	min-height:700px;
}
.two{
	margin-right:50px;
	margin-top: 30px;
	min-height:700px;
}
.three{
    margin-left:50px;
	margin-top: 30px;
    padding:0;
}
.four{
	margin-right:50px;
	margin-top: 30px;
	min-height:700px;
}
}